
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-blue-light: #bfd9e1ff;
  --color-blue-dark: #838fadff; 
  --color-neutral-dark: #3a3a3cff;
  --color-neutral-light: rgb(120, 120, 125);
  --color-amber-bg: #f3f1e3ff;

  /* Typography */
  font-family: 'Faster One', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  /* Faster One Styles */
  h1, h2 {
    font-family: 'Faster One', cursive;
    font-weight: 400;
  }
  h1 {
    font-size: 3.4rem;
    line-height: 1.1;
  }
  h2 {
    font-size: 2.4rem;
    line-height: 1.2;
  }

  /* Afacad Styles */
  h3, body, p, span, div {
    font-family: 'Afacad', Inter, system-ui, sans-serif;
  }

  h3 {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 500;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-size: 1.3rem;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
}

@layer components {
  /* Button Styles */
  .btn-primary {
    background-color: var(--color-blue-dark);
    color: white;
    border: none;
    border-radius: 24px;
    padding: 0.5em 0.8em;
    cursor: pointer;
    font-family: 'Afacad', sans-serif;
  }

  .btn-primary:hover {
    background-color: var(--color-blue-light);
  }

  .btn-secondary {
    background-color: var(--color-blue-light);
    color: black;
    border: none;
    border-radius: 24px;
    padding: 0.5em 0.8em;
    cursor: pointer;
    font-family: 'Afacad', sans-serif;
  }

  .btn-secondary:hover {
    background-color: var(--color-blue-dark);
  }

  .btn-navigate {
    background-color: var(--color-neutral-dark);
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5em 0.5em;
    font-family: 'Afacad', sans-serif;
  }

  .btn-navigate:hover {
    background-color: var(--color-neutral-light);
  }

  .btn-red {
    background-color: rgb(254, 100, 100);
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Afacad', sans-serif;
  }

  .btn-red:hover {
    background-color: rgb(248, 150, 150);
  }
}

/* Fallback - default button */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: 'Afacad', sans-serif;
  background-color: var(--color-primary-dark);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.2s;
}

button:hover {
  outline-color: black;
  outline-style: solid;
  outline-width: 2px;
}

button:focus,
button:focus-visible {
  outline: 2px solid var(--color-primary-light);
  outline-offset: 2px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
